body
  padding 0
  margin 0
  text-decoration none
  padding-bottom 200px
em
  font-style normal
  font-weight 600

#app
  background-color #cfefff
  border-radius 10px
  width 700px
  min-height 400px
  margin 100px auto 0
  box-shadow 1px 2px 10px #ccc
  user-select none
  animation show 2s ease-in-out
  @keyframes show 
    from
      margin 250px auto 0
    to
      margin 100px auto 0
  
  .collese
    width 100%
    height 30px
    overflow hidden
    text-align center
    background-color #ccc
    line-height 30px
    color #fff
    border-bottom-right-radius 10px
    border-bottom-left-radius 10px
    cursor pointer
    transition height 2s
    
    .tag
      font-weight 900
      color #00008b
      margin 0px 10px
    .tagval
      margin 0px 10px
      color #f40

  .wrapper
    padding 10px
    .title
      text-align center
      font-size 24px
      font-weight 600
      color darkblue
    input
      padding 2px 6px
      height 20px
      border-radius 5px
      outline none
    button
      cursor pointer
      min-width 100px
      height 40px
      margin 10px 0px
      border none
      border-radius 5px
      background-color #999
      outline none
      color #fff
      &:hover
        box-shadow 0px 0px 10px #cfcfcf
    

  

  